@page
@model GrKouk.WebRazor.Pages.CommonEntities.FpaKategories.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit FpaDef</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FpaDef.Id" />
            <div class="form-group">
                <label asp-for="FpaDef.Code" class="control-label"></label>
                <input asp-for="FpaDef.Code" class="form-control" />
                <span asp-validation-for="FpaDef.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FpaDef.Name" class="control-label"></label>
                <input asp-for="FpaDef.Name" class="form-control" />
                <span asp-validation-for="FpaDef.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FpaDef.Rate" class="control-label"></label>
                <input asp-for="FpaDef.Rate" class="form-control" />
                <span asp-validation-for="FpaDef.Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
