@page
@model GrKouk.WebRazor.Pages.CommonEntities.ClientProfiles.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ClientProfile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClientProfile.Id" />
            <div class="form-group">
                <label asp-for="ClientProfile.Code" class="control-label"></label>
                <input asp-for="ClientProfile.Code" class="form-control" />
                <span asp-validation-for="ClientProfile.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientProfile.Name" class="control-label"></label>
                <input asp-for="ClientProfile.Name" class="form-control" />
                <span asp-validation-for="ClientProfile.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientProfile.Serial" class="control-label"></label>
                <input asp-for="ClientProfile.Serial" class="form-control" />
                <span asp-validation-for="ClientProfile.Serial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientProfile.Data" class="control-label"></label>
                <input asp-for="ClientProfile.Data" class="form-control" />
                <span asp-validation-for="ClientProfile.Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientProfile.CompanyId" class="control-label"></label>
                <select asp-for="ClientProfile.CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                <span asp-validation-for="ClientProfile.CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
