@model GrKouk.InfoSystem.Domain.Shared.FinDiaryTransaction

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>FinDiaryTransaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TransactionDate" class="control-label"></label>
                <input asp-for="TransactionDate" class="form-control" />
                <span asp-validation-for="TransactionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferenceCode" class="control-label"></label>
                <input asp-for="ReferenceCode" class="form-control" />
                <span asp-validation-for="ReferenceCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactorId" class="control-label"></label>
                <select asp-for="TransactorId" class ="form-control" asp-items="ViewBag.TransactorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FinTransCategoryId" class="control-label"></label>
                <select asp-for="FinTransCategoryId" class ="form-control" asp-items="ViewBag.FinTransCategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class ="form-control" asp-items="ViewBag.CompanyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CostCentreId" class="control-label"></label>
                <select asp-for="CostCentreId" class ="form-control" asp-items="ViewBag.CostCentreId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RevenueCentreId" class="control-label"></label>
                <select asp-for="RevenueCentreId" class ="form-control" asp-items="ViewBag.RevenueCentreId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kind" class="control-label"></label>
                <input asp-for="Kind" class="form-control" />
                <span asp-validation-for="Kind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountFpa" class="control-label"></label>
                <input asp-for="AmountFpa" class="form-control" />
                <span asp-validation-for="AmountFpa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountNet" class="control-label"></label>
                <input asp-for="AmountNet" class="form-control" />
                <span asp-validation-for="AmountNet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
