@page
@model GrKouk.WebRazor.Pages.Configuration.CustomerTransDocTypes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit TransCustomerDocTypeDef</h4>
<hr />

<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="TransCustomerDocTypeDef.Id" />
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="TransCustomerDocTypeDef.Code" class="control-label"></label>
                <input asp-for="TransCustomerDocTypeDef.Code" class="form-control form-control-sm" />
                <span asp-validation-for="TransCustomerDocTypeDef.Code" class="text-danger"></span>
            </div>
            <div class="form-group col-md-7">
                <label asp-for="TransCustomerDocTypeDef.Name" class="control-label"></label>
                <input asp-for="TransCustomerDocTypeDef.Name" class="form-control form-control-sm" />
                <span asp-validation-for="TransCustomerDocTypeDef.Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2 ">

                <label asp-for="TransCustomerDocTypeDef.Active"></label>
                <input asp-for="TransCustomerDocTypeDef.Active" class="form-check form-control-sm" />

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="TransCustomerDocTypeDef.TransCustomerDefId" class="control-label"></label>
                <select asp-for="TransCustomerDocTypeDef.TransCustomerDefId" class="form-control form-control-sm" asp-items="ViewBag.TransCustomerDefId"></select>
                <span asp-validation-for="TransCustomerDocTypeDef.TransCustomerDefId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="TransCustomerDocTypeDef.CompanyId" class="control-label"></label>
                <select asp-for="TransCustomerDocTypeDef.CompanyId" class="form-control form-control-sm" asp-items="ViewBag.CompanyId"></select>
                <span asp-validation-for="TransCustomerDocTypeDef.CompanyId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary btn-sm" />
            </div>
        </div>
    </form>
</div>


<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
