@page
@model GrKouk.WebRazor.Pages.Expenses.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>FinDiaryTransaction</h4>
<hr />
<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row">

            <div class="form-group col-md-4">
                <label asp-for="FinDiaryTransaction.TransactionDate" class="control-label"></label>
                <input asp-for="FinDiaryTransaction.TransactionDate" class="form-control" />
                <span asp-validation-for="FinDiaryTransaction.TransactionDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
                <label asp-for="FinDiaryTransaction.TransactorId" class="control-label"></label>
                <select asp-for="FinDiaryTransaction.TransactorId" class="form-control" asp-items="ViewBag.TransactorId"></select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="FinDiaryTransaction.ReferenceCode" class="control-label"></label>
                <input asp-for="FinDiaryTransaction.ReferenceCode" class="form-control" />
                <span asp-validation-for="FinDiaryTransaction.ReferenceCode" class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
                <label asp-for="FinDiaryTransaction.FinTransCategoryId" class="control-label"></label>
                <select asp-for="FinDiaryTransaction.FinTransCategoryId" class="form-control" asp-items="ViewBag.FinTransCategoryId"></select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="FinDiaryTransaction.CompanyId" class="control-label"></label>
                <select asp-for="FinDiaryTransaction.CompanyId" class ="form-control" asp-items="ViewBag.CompanyId"></select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="FinDiaryTransaction.CostCentreId" class="control-label"></label>
                <select asp-for="FinDiaryTransaction.CostCentreId" class ="form-control" asp-items="ViewBag.CostCentreId"></select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="FinDiaryTransaction.Description" class="control-label"></label>
                @*<input asp-for="FinDiaryTransaction.Description" class="form-control" />*@
                <textarea asp-for="FinDiaryTransaction.Description" class="form-control" placeholder="Description of Transaction"></textarea>
                <span asp-validation-for="FinDiaryTransaction.Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="FinDiaryTransaction.AmountFpa" class="control-label"></label>
                <input asp-for="FinDiaryTransaction.AmountFpa" class="form-control" />
                <span asp-validation-for="FinDiaryTransaction.AmountFpa" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="FinDiaryTransaction.AmountNet" class="control-label"></label>
                <input asp-for="FinDiaryTransaction.AmountNet" class="form-control" />
                <span asp-validation-for="FinDiaryTransaction.AmountNet" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        </form>
</div>  

@*<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FinDiaryTransaction.TransactionDate" class="control-label"></label>
                <input asp-for="FinDiaryTransaction.TransactionDate" class="form-control" />
                <span asp-validation-for="FinDiaryTransaction.TransactionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinDiaryTransaction.ReferenceCode" class="control-label"></label>
                <input asp-for="FinDiaryTransaction.ReferenceCode" class="form-control" />
                <span asp-validation-for="FinDiaryTransaction.ReferenceCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinDiaryTransaction.TransactorId" class="control-label"></label>
                <select asp-for="FinDiaryTransaction.TransactorId" class ="form-control" asp-items="ViewBag.TransactorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FinDiaryTransaction.FinTransCategoryId" class="control-label"></label>
                <select asp-for="FinDiaryTransaction.FinTransCategoryId" class ="form-control" asp-items="ViewBag.FinTransCategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FinDiaryTransaction.CompanyId" class="control-label"></label>
                <select asp-for="FinDiaryTransaction.CompanyId" class ="form-control" asp-items="ViewBag.CompanyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FinDiaryTransaction.CostCentreId" class="control-label"></label>
                <select asp-for="FinDiaryTransaction.CostCentreId" class ="form-control" asp-items="ViewBag.CostCentreId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FinDiaryTransaction.RevenueCentreId" class="control-label"></label>
                <select asp-for="FinDiaryTransaction.RevenueCentreId" class ="form-control" asp-items="ViewBag.RevenueCentreId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FinDiaryTransaction.Description" class="control-label"></label>
                <input asp-for="FinDiaryTransaction.Description" class="form-control" />
                <span asp-validation-for="FinDiaryTransaction.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinDiaryTransaction.Kind" class="control-label"></label>
                <input asp-for="FinDiaryTransaction.Kind" class="form-control" />
                <span asp-validation-for="FinDiaryTransaction.Kind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinDiaryTransaction.AmountFpa" class="control-label"></label>
                <input asp-for="FinDiaryTransaction.AmountFpa" class="form-control" />
                <span asp-validation-for="FinDiaryTransaction.AmountFpa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinDiaryTransaction.AmountNet" class="control-label"></label>
                <input asp-for="FinDiaryTransaction.AmountNet" class="form-control" />
                <span asp-validation-for="FinDiaryTransaction.AmountNet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>*@

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
