@page
@using System.Collections.Specialized
@model GrKouk.WebRazor.Pages.Expenses.Index2Model

@{
    ViewData["Title"] = "Diary Transactions";
}
@section MyCss
    {
    <link rel="stylesheet" type="text/css" href="/lib/datatables/css/dataTables.bootstrap4.css" />
    <link rel="stylesheet" type="text/css" href="/lib/Buttons/css/buttons.bootstrap4.css" />
    <link rel="stylesheet" type="text/css" href="/lib/Responsive/css/responsive.bootstrap4.css" />
    <link rel="stylesheet" type="text/css" href="/lib/Select/css/select.bootstrap4.css" />
    <style>
        /*.rangeFilter{ float: right;}*/
    </style>
}
<h4>Diary Transactions 2</h4>

<p>
    <small>
        <a asp-page="Create">Δημιουργία</a>
    </small>
</p>

<table class="table table-bordered table-sm" style="width:100%" id="myTable"></table>


@section Scripts
{
    <script src="~/lib/JSZip/jszip.js"></script>
    <script src="~/lib/pdfmake/pdfmake.js"></script>
    <script src="~/lib/pdfmake/vfs_fonts.js"></script>

    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/lib/Buttons/js/dataTables.buttons.js"></script>
    <script src="~/lib/Buttons/js/buttons.bootstrap4.js"></script>
    <script src="~/lib/Buttons/js/buttons.html5.js"></script>
    <script src="~/lib/Buttons/js/buttons.print.js"></script>
    <script src="~/lib/Responsive/js/dataTables.responsive.js"></script>
    <script src="~/lib/Select/js/dataTables.select.js"></script>
    <script>
        $.fn.outerHTML = function() {

            // IE, Chrome & Safari will comply with the non-standard outerHTML, all others (FF) will have a fall-back for cloning
            return (!this.length)
                ? this
                : (this[0].outerHTML ||
                (
                    function(el) {
                        var div = document.createElement('div');
                        div.appendChild(el.cloneNode(true));
                        var contents = div.innerHTML;
                        div = null;
                        return contents;
                    })(this[0]));

        }

        function datePeriodChanged(element) {
            //if (element != null) {
            //    var docName = 'Expenses|';
            //    sessionStorage.setItem(docName + element.id, element.value);
            //}
            $('#myTable').DataTable().ajax.reload();
        }

        $(document).ready(function() {
            var dateFilterValuesList = @Html.Raw(Json.Serialize(ViewBag.DataFilterValuesJs));
            var dateFilterKey = 'Expenses|' + 'CurrentDatePeriod';
            var dateFilterSessionVal = sessionStorage.getItem(dateFilterKey);
            
           
            //var dfVal = dateFilterSessionVal !== undefined && dateFilterSessionVal !== null
            //    ? dateFilterSessionVal
            //    : 'CURYEAR';

            var $dateRange =
                $(
                    '<select id="CurrentDatePeriod" name="CurrentDatePeriod"  class="custom-select custom-select-sm form-control form-control-sm small" onchange="datePeriodChanged(this)"/>');
            $.each(dateFilterValuesList,
                function (index, item) {
                    //var selectedAttr = item.value === dfVal ? 'selected' : 'false';
                    $dateRange.append($('<option></option>')
                        .attr('value', item.value)
                       // .prop('selected', selectedAttr)
                        .text(item.text)
                    
                    );
                });
            //var s = document.getElementById('CurrentDatePeriod');

            console.log($dateRange.outerHTML());
            $('#myTable').DataTable({
                dom:
                    '<"row"<"col-sm-12 col-md-auto text-left"l><"col-sm-12 col-md-3 text-left rangeFilter"><"col-sm-12 col-md-3 text-left"f><"col-sm-12 col-md-3 text-right"B>>' +
                        '<"row"<"col-sm-12"tr>>' +
                        '<"row"<"col-sm-5"i><"col-sm-7"p>>',

                fnInitComplete: function() {
                    $('div.rangeFilter').html($dateRange.outerHTML());
                    //var dateFilterKey = 'Expenses|' + 'CurrentDatePeriod';
                    //var dateFilterSessionVal = sessionStorage.getItem(dateFilterKey);
                    //if (dateFilterSessionVal !== undefined && dateFilterSessionVal !== null) {
                    //    $('#CurrentDatePeriod').val(dateFilterSessionVal);
                    //    $('#myTable').DataTable().ajax.reload();
                    //}
                },
                processing: true,
                language: {
                    processing:
                        '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
                },

                serverSide: true,
                info: true,
                stateSave: true,
                buttons: [
                    { extend: 'excel', className: 'btn  btn-sm' },
                    { extend: 'pdf', className: 'btn  btn-sm' },
                    { extend: 'print', className: 'btn  btn-sm' }
                ],
                //#region CommentOut
                //stateSaveParams: function(settings, data) {
                //    var $dateRangeSel = $('.rangeFilter select');
                //    var $dateRangeSelectedOption = $dateRangeSel.find('option:selected');
                //    var dateRangeValue = $dateRangeSelectedOption.val();
                //    if (dateRangeValue!=null) {
                //        data[$dateRange.attr('name')] = dateRangeValue;    
                //    }

                //    return data;
                //},
                //#endregion
                //#region CommentOut
                //stateLoadParams: function(settings, data) {
                //    console.log('State loading data.start=' + data.start);
                //    data.start = 0;
                //    $.each(data, function(index, value) {
                //        if (index == $dateRange.attr('name')) {
                //            $('.rangeFilter select').val(value);

                //        }
                //    });
                //},
                //  #endregion
                lengthMenu: [[1, 5, 10, 20, 50, 100, -1], [1, 5, 10, 20, 50, 100, "All"]],
                ajax: {
                    url: "/api/grkoukinfoapi/GetTblData2",
                    data: function(d) {
                        d.dateRange = $('#CurrentDatePeriod').val();
                    }
                },
                columns: [
                    {
                        name: 'transactionDate',
                        data: 'transactionDate',
                        title: "Transaction Date",
                        sortable: true,
                        className: 'text-right',
                        searchable: false,
                        render: function(d) {
                            return moment(d).format("DD/MM/YYYY");
                        }

                    },
                    {
                        name: 'referenceCode',
                        data: "referenceCode",
                        title: "Reference Code",
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'transactorName',
                        data: "transactorName",
                        title: "Transactor",
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'companyName',
                        data: "companyName",
                        title: "CompanyName",
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'amountTotal',
                        data: "amountTotal",
                        title: "AmountTotal",
                        sortable: false,
                        searchable: false,
                        className: 'text-right',
                        render: function(data, type, row) {
                            return Number(data).toLocaleString('el-GR',
                                {
                                    maximumFractionDigits: 2,
                                    style: 'currency',
                                    currency: 'EUR'
                                });
                        }
                    }
                ]


                //,
                //columnDefs: [

                //    {
                //        targets: 0
                //        , className: 'text-right'
                //    }
                //]
            });
            //$($dateRange).on('change', function() {
            //    $('#myTable').DataTable().ajax.reload();
            //});
            console.log('End');
        });

    </script>
}

