@page
@model GrKouk.WebRazor.Pages.Configuration.WarehouseTransDef.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>TransWarehouseDef</h4>
<hr />

<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label asp-for="TransWarehouseDef.Code"></label>
                <input asp-for="TransWarehouseDef.Code" class="form-control form-control-sm" />
                <span asp-validation-for="TransWarehouseDef.Code" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="TransWarehouseDef.Name"></label>
                <input asp-for="TransWarehouseDef.Name" class="form-control form-control-sm" />
                <span asp-validation-for="TransWarehouseDef.Name" class="text-danger"></span>

            </div>
            <div class="form-group col-md-2">
                <label asp-for="TransWarehouseDef.DefaultDocSeriesId"></label>
                <select asp-for="TransWarehouseDef.DefaultDocSeriesId" class="form-control form-control-sm" asp-items="ViewBag.DefaultDocSeriesId"></select>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="TransWarehouseDef.CompanyId"></label>
                <select asp-for="TransWarehouseDef.CompanyId" class="form-control form-control-sm" asp-items="ViewBag.CompanyId"></select>
            </div>
            <div class="form-group col-md-1 ">

                <label asp-for="TransWarehouseDef.Active"></label>
                <input asp-for="TransWarehouseDef.Active" class="form-check form-control-sm" />

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.InventoryAction" ></label>
                <select asp-for="TransWarehouseDef.InventoryAction" class="form-control form-control-sm" asp-items="ViewBag.InventoryActions"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.InventoryValueAction" ></label>
                <select asp-for="TransWarehouseDef.InventoryValueAction" class="form-control form-control-sm" asp-items="ViewBag.InventoryValueActions"></select>
            </div>
        </div>
        <div class="form-row">
            @*<div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.VolImportsTransId" ></label>
                <select asp-for="TransWarehouseDef.VolImportsTransId" class="form-control form-control-sm" asp-items="ViewBag.VolImportsTransId"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.VolExportsTransId" ></label>
                <select asp-for="TransWarehouseDef.VolExportsTransId" class="form-control form-control-sm" asp-items="ViewBag.VolExportsTransId"></select>
            </div>*@

            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.VolInvoicedExportsTransId" ></label>
                <select asp-for="TransWarehouseDef.VolInvoicedExportsTransId" class="form-control form-control-sm" asp-items="ViewBag.VolInvoicedExportsTransId"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.VolInvoicedImportsTransId" ></label>
                <select asp-for="TransWarehouseDef.VolInvoicedImportsTransId" class="form-control form-control-sm" asp-items="ViewBag.VolInvoicedImportsTransId"></select>
            </div>
        </div>
        <div class="form-row">
            @*<div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.AmtImportsTransId" ></label>
                <select asp-for="TransWarehouseDef.AmtImportsTransId" class="form-control form-control-sm" asp-items="ViewBag.AmtImportsTransId"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.AmtExportsTransId" ></label>
                <select asp-for="TransWarehouseDef.AmtExportsTransId" class="form-control form-control-sm" asp-items="ViewBag.AmtExportsTransId"></select>
            </div>*@

            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.AmtInvoicedExportsTransId" ></label>
                <select asp-for="TransWarehouseDef.AmtInvoicedExportsTransId" class="form-control form-control-sm" asp-items="ViewBag.AmtInvoicedExportsTransId"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.AmtInvoicedImportsTransId" ></label>
                <select asp-for="TransWarehouseDef.AmtInvoicedImportsTransId" class="form-control form-control-sm" asp-items="ViewBag.AmtInvoicedImportsTransId"></select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.VolBuyTransId" class="control-label"></label>
                <select asp-for="TransWarehouseDef.VolBuyTransId" class="form-control" asp-items="ViewBag.VolBuyTransId"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.AmtBuyTransId" ></label>
                <select asp-for="TransWarehouseDef.AmtBuyTransId" class="form-control form-control-sm" asp-items="ViewBag.AmtBuyTransId"></select>
            </div>

            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.VolSellTransId" ></label>
                <select asp-for="TransWarehouseDef.VolSellTransId" class="form-control form-control-sm" asp-items="ViewBag.VolSellTransId"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.AmtSellTransId" ></label>
                <select asp-for="TransWarehouseDef.AmtSellTransId" class="form-control form-control-sm" asp-items="ViewBag.AmtSellTransId"></select>
            </div>
        </div>
      
        <div class="form-row">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-sm" />
            </div>
        </div>
    </form>
</div>


<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
