@page
@model GrKouk.WebRazor.Pages.Configuration.WarehouseTransDef.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit TransWarehouseDef</h4>
<hr />
<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
        <input type="hidden" asp-for="TransWarehouseDef.Id" />
        <div class="form-row">
            <div class="form-group col-md-2">
                <label asp-for="TransWarehouseDef.Code" class="small"></label>
                <input asp-for="TransWarehouseDef.Code" class="form-control form-control-sm" />
                <span asp-validation-for="TransWarehouseDef.Code" class="text-danger small"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="TransWarehouseDef.Name" class="small"></label>
                <input asp-for="TransWarehouseDef.Name" class="form-control form-control-sm" />
                <span asp-validation-for="TransWarehouseDef.Name" class="text-danger small"></span>

            </div>
            <div class="form-group col-md-2">
                <label asp-for="TransWarehouseDef.DefaultDocSeriesId" class="small"></label>
                <select asp-for="TransWarehouseDef.DefaultDocSeriesId" class="form-control form-control-sm" asp-items="ViewBag.DefaultDocSeriesId"></select>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="TransWarehouseDef.CompanyId" class="small"></label>
                <select asp-for="TransWarehouseDef.CompanyId" class="form-control form-control-sm" asp-items="ViewBag.CompanyId"></select>
            </div>
            <div class="form-group col-md-1 ">

                <label asp-for="TransWarehouseDef.Active" class="small"></label>
                <input asp-for="TransWarehouseDef.Active" class="form-check form-control-sm" />

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.MaterialInventoryAction" class="small"></label>
                <select asp-for="TransWarehouseDef.MaterialInventoryAction" class="form-control form-control-sm" asp-items="ViewBag.MaterialInventoryActions"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.MaterialInventoryValueAction" class="small"></label>
                <select asp-for="TransWarehouseDef.MaterialInventoryValueAction" class="form-control form-control-sm" asp-items="ViewBag.MaterialInventoryValueActions"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.ServiceInventoryAction" class="small"></label>
                <select asp-for="TransWarehouseDef.ServiceInventoryAction" class="form-control form-control-sm" asp-items="ViewBag.ServiceInventoryAction"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.ServiceInventoryValueAction" class="small"></label>
                <select asp-for="TransWarehouseDef.ServiceInventoryValueAction" class="form-control form-control-sm" asp-items="ViewBag.ServiceInventoryValueAction"></select>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.FixedAssetInventoryAction" class="small"></label>
                <select asp-for="TransWarehouseDef.FixedAssetInventoryAction" class="form-control form-control-sm" asp-items="ViewBag.FixedAssetInventoryAction"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.FixedAssetInventoryValueAction" class="small"></label>
                <select asp-for="TransWarehouseDef.FixedAssetInventoryValueAction" class="form-control form-control-sm" asp-items="ViewBag.FixedAssetInventoryValueAction"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.ExpenseInventoryAction" class="small"></label>
                <select asp-for="TransWarehouseDef.ExpenseInventoryAction" class="form-control form-control-sm" asp-items="ViewBag.ExpenseInventoryAction"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.ExpenseInventoryValueAction" class="small"></label>
                <select asp-for="TransWarehouseDef.ExpenseInventoryValueAction" class="form-control form-control-sm" asp-items="ViewBag.ExpenseInventoryValueAction"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.IncomeInventoryAction" class="small"></label>
                <select asp-for="TransWarehouseDef.IncomeInventoryAction" class="form-control form-control-sm" asp-items="ViewBag.IncomeInventoryAction"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.IncomeInventoryValueAction" class="small"></label>
                <select asp-for="TransWarehouseDef.IncomeInventoryValueAction" class="form-control form-control-sm" asp-items="ViewBag.IncomeInventoryValueAction"></select>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.RawMaterialInventoryAction" class="small"></label>
                <select asp-for="TransWarehouseDef.RawMaterialInventoryAction" class="form-control form-control-sm" asp-items="ViewBag.RawMaterialInventoryAction"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.RawMaterialInventoryValueAction" class="small"></label>
                <select asp-for="TransWarehouseDef.RawMaterialInventoryValueAction" class="form-control form-control-sm" asp-items="ViewBag.RawMaterialInventoryValueAction"></select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.MaterialInvoicedVolumeAction" class="small"></label>
                <select asp-for="TransWarehouseDef.MaterialInvoicedVolumeAction" class="form-control form-control-sm" asp-items="ViewBag.MaterialInvoicedVolumeAction"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.MaterialInvoicedValueAction" class="small"></label>
                <select asp-for="TransWarehouseDef.MaterialInvoicedValueAction" class="form-control form-control-sm" asp-items="ViewBag.MaterialInvoicedValueAction"></select>
            </div>

        </div>

        @*<div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.VolBuyAction" class="control-label small"></label>
                <select asp-for="TransWarehouseDef.VolBuyAction" class="form-control form-control-sm" asp-items="ViewBag.VolBuyAction"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.AmtBuyAction" class="small"></label>
                <select asp-for="TransWarehouseDef.AmtBuyAction" class="form-control form-control-sm" asp-items="ViewBag.AmtBuyAction"></select>
            </div>

            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.VolSellAction" class="small"></label>
                <select asp-for="TransWarehouseDef.VolSellAction" class="form-control form-control-sm" asp-items="ViewBag.VolSellAction"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.AmtSellAction" class="small"></label>
                <select asp-for="TransWarehouseDef.AmtSellAction" class="form-control form-control-sm" asp-items="ViewBag.AmtSellAction"></select>
            </div>
        </div>*@


        <div class="form-row">
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary btn-sm" />
            </div>
        </div>
    </form>
</div>


<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
