@page
@model GrKouk.WebRazor.Pages.Configuration.WarehouseTransDef.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>TransWarehouseDef</h4>
<hr />
<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="TransWarehouseDef.Id" />
        <div class="form-row">
            <div class="form-group col-md-2">
                <label asp-for="TransWarehouseDef.Code"></label>
                <input asp-for="TransWarehouseDef.Code" class="form-control form-control-sm" />
                <span asp-validation-for="TransWarehouseDef.Code" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="TransWarehouseDef.Name"></label>
                <input asp-for="TransWarehouseDef.Name" class="form-control form-control-sm" />
                <span asp-validation-for="TransWarehouseDef.Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="TransWarehouseDef.TransWarehouseDefaultDocSeriesDefId"></label>
                <select asp-for="TransWarehouseDef.TransWarehouseDefaultDocSeriesDefId" class="form-control form-control-sm" asp-items="ViewBag.TransWarehouseDefaultDocSeriesDefId"></select>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="TransWarehouseDef.CompanyId"></label>
                <select asp-for="TransWarehouseDef.CompanyId" class="form-control form-control-sm" asp-items="ViewBag.CompanyId"></select>
                <span asp-validation-for="TransWarehouseDef.CompanyId" class="text-danger"></span>
            </div>

            <div class="form-group col-md-1 ">

                <label asp-for="TransWarehouseDef.Active"></label>
                <input asp-for="TransWarehouseDef.Active" class="form-check form-control-sm" />

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.InventoryTransType" ></label>
                <select asp-for="TransWarehouseDef.InventoryTransType" class="form-control form-control-sm" asp-items="ViewBag.inventoryTransTypes"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.InventoryValueTransType" ></label>
                <select asp-for="TransWarehouseDef.InventoryValueTransType" class="form-control form-control-sm" asp-items="ViewBag.InventoryValueTransTypes"></select>
            </div>
        </div>
        <div class="form-row">
            @*<div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.VolImportsTransId" ></label>
                <select asp-for="TransWarehouseDef.VolImportsTransId" class="form-control form-control-sm" asp-items="ViewBag.VolImportsTransId"></select>
                <span asp-validation-for="TransWarehouseDef.VolImportsTransId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.VolExportsTransId" ></label>
                <select asp-for="TransWarehouseDef.VolExportsTransId" class="form-control form-control-sm" asp-items="ViewBag.VolExportsTransId"></select>
                <span asp-validation-for="TransWarehouseDef.VolExportsTransId" class="text-danger"></span>
            </div>*@
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.VolInvoicedExportsTransId" ></label>
                <select asp-for="TransWarehouseDef.VolInvoicedExportsTransId" class="form-control form-control-sm" asp-items="ViewBag.VolInvoicedExportsTransId"></select>
                <span asp-validation-for="TransWarehouseDef.VolInvoicedExportsTransId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.VolInvoicedImportsTransId" ></label>
                <select asp-for="TransWarehouseDef.VolInvoicedImportsTransId" class="form-control form-control-sm" asp-items="ViewBag.VolInvoicedImportsTransId"></select>
                <span asp-validation-for="TransWarehouseDef.VolInvoicedImportsTransId" class="text-danger"></span>
            </div>

        </div>
        <div class="form-row">
            @*<div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.AmtImportsTransId" ></label>
                <select asp-for="TransWarehouseDef.AmtImportsTransId" class="form-control form-control-sm" asp-items="ViewBag.AmtImportsTransId"></select>
                <span asp-validation-for="TransWarehouseDef.AmtImportsTransId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.AmtExportsTransId" ></label>
                <select asp-for="TransWarehouseDef.AmtExportsTransId" class="form-control form-control-sm" asp-items="ViewBag.AmtExportsTransId"></select>
                <span asp-validation-for="TransWarehouseDef.AmtExportsTransId" class="text-danger"></span>
            </div>*@
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.AmtInvoicedExportsTransId" ></label>
                <select asp-for="TransWarehouseDef.AmtInvoicedExportsTransId" class="form-control form-control-sm" asp-items="ViewBag.AmtInvoicedExportsTransId"></select>
                <span asp-validation-for="TransWarehouseDef.AmtInvoicedExportsTransId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.AmtInvoicedImportsTransId" ></label>
                <select asp-for="TransWarehouseDef.AmtInvoicedImportsTransId" class="form-control form-control-sm" asp-items="ViewBag.AmtInvoicedImportsTransId"></select>
                <span asp-validation-for="TransWarehouseDef.AmtInvoicedImportsTransId" class="text-danger "></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.VolBuyTransId" ></label>
                <select asp-for="TransWarehouseDef.VolBuyTransId" class="form-control form-control-sm" asp-items="ViewBag.VolBuyTransId"></select>
                <span asp-validation-for="TransWarehouseDef.VolBuyTransId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.AmtBuyTransId" ></label>
                <select asp-for="TransWarehouseDef.AmtBuyTransId" class="form-control form-control-sm" asp-items="ViewBag.AmtBuyTransId"></select>
                <span asp-validation-for="TransWarehouseDef.AmtBuyTransId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.VolSellTransId" ></label>
                <select asp-for="TransWarehouseDef.VolSellTransId" class="form-control form-control-sm" asp-items="ViewBag.VolSellTransId"></select>
                <span asp-validation-for="TransWarehouseDef.VolSellTransId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="TransWarehouseDef.AmtSellTransId" ></label>
                <select asp-for="TransWarehouseDef.AmtSellTransId" class="form-control form-control-sm" asp-items="ViewBag.AmtSellTransId"></select>
                <span asp-validation-for="TransWarehouseDef.AmtSellTransId" class="text-danger"></span>
            </div>
        </div>
       
        <div class="form-row">
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary btn-sm" />
            </div>
        </div>
    </form>
</div>


<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
