@page
@model GrKouk.WebRazor.Pages.Transactions.SupplierTransMng.EditModel

@{
    ViewData["Title"] = "Edit";
    var formDisabled = Model.NotUpdatable ? "disabled" : "";


}
@System.Globalization.CultureInfo.CurrentCulture
@System.Globalization.CultureInfo.CurrentUICulture
<h2>Edit</h2>
@{
    if (Model.NotUpdatable)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Not updateable!</strong> This transaction is from other section and cannot be updated.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

<h4>Supplier Transaction</h4>
<hr />
<div class="container">

    <form method="post">
        <fieldset @formDisabled>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SupplierTransactionVm.Id" />
            <input type="hidden" asp-for="SupplierTransactionVm.Timestamp" />
            <input type="hidden" asp-for="SupplierTransactionVm.SectionId" />
            <input type="hidden" asp-for="SupplierTransactionVm.TransSupplierDocTypeId" />
            <input type="hidden" asp-for="@Model.InitialLoad" id="IsInitialLoad" />
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="SupplierTransactionVm.TransDate" class="small"></label>
                    <input asp-for="SupplierTransactionVm.TransDate" class="form-control form-control-sm small" autofocus/>
                    <span asp-validation-for="SupplierTransactionVm.TransDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="SupplierTransactionVm.TransSupplierDocSeriesId" class="small"></label>
                    <select asp-for="SupplierTransactionVm.TransSupplierDocSeriesId" class="form-control form-control-sm small" asp-items="ViewBag.TransSupplierDocSeriesId"></select>
                </div>

                <div class="form-group col-md-3">
                    <label asp-for="SupplierTransactionVm.TransRefCode" class="small"></label>
                    <input asp-for="SupplierTransactionVm.TransRefCode" class="form-control form-control-sm small" />
                    <span asp-validation-for="SupplierTransactionVm.TransRefCode" class="text-danger"></span>
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="SupplierTransactionVm.SupplierId" class="small"></label>
                    <select asp-for="SupplierTransactionVm.SupplierId" class="form-control form-control-sm small" asp-items="ViewBag.SupplierId"></select>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="SupplierTransactionVm.FiscalPeriodId" class="small"></label>
                    <select asp-for="SupplierTransactionVm.FiscalPeriodId" class="form-control form-control-sm small" asp-items="ViewBag.FiscalPeriodId" disabled></select>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="SupplierTransactionVm.CompanyId" class="small"></label>
                    <select asp-for="SupplierTransactionVm.CompanyId" class="form-control form-control-sm small" asp-items="ViewBag.CompanyId"></select>
                </div>
            </div>
           
            <div class="form-row">
                <div class="form-group col-md-1">
                    <label asp-for="SupplierTransactionVm.FpaRate" class="small"></label>
                    <input asp-for="SupplierTransactionVm.FpaRate" class="form-control form-control-sm small" />
                    <span asp-validation-for="SupplierTransactionVm.FpaRate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="SupplierTransactionVm.AmountNet" class="small"></label>
                    <input asp-for="SupplierTransactionVm.AmountNet" value="0" class="form-control form-control-sm small" />
                    <span asp-validation-for="SupplierTransactionVm.AmountNet" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="SupplierTransactionVm.AmountFpa" class="small"></label>
                    <input asp-for="SupplierTransactionVm.AmountFpa" class="form-control form-control-sm small" />
                    <span asp-validation-for="SupplierTransactionVm.AmountFpa" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="SupplierTransactionVm.AmountDiscount" class="small"></label>
                    <input asp-for="SupplierTransactionVm.AmountDiscount" class="form-control form-control-sm small" />
                    <span asp-validation-for="SupplierTransactionVm.AmountDiscount" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="small">Sum</label>
                    <input id="SumAmount" class="form-control form-control-sm small" disabled />

                </div>
               
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="SupplierTransactionVm.Etiology" class="small"></label>
                    <textarea asp-for="SupplierTransactionVm.Etiology" class="form-control form-control-sm small" placeholder="Αιτιολογία Κίνησης"> </textarea>
                    <span asp-validation-for="SupplierTransactionVm.Etiology" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary btn-sm" />
                </div>
            </div>
        </fieldset>
    </form>
</div>




<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            console.log("Inside Document ready");

            $('#SupplierTransactionDto_AmountFpa').change((event) => {
                //console.log(event.toString());
               // console.log("Inside Fpa Change");
            });
           

        });


    </script>
}
