@page
@model GrKouk.WebRazor.Pages.MainEntities.Transactors.DetailsModel

@{
    Layout = "_LayoutDashboard";
    ViewData["Title"] = "Transactor Details";
}


<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="home"></span>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file"></span>
                            Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="shopping-cart"></span>
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="users"></span>
                            Customers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="bar-chart-2"></span>
                            Reports
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers"></span>
                            Integrations
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Saved reports</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Current month
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Last quarter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Social engagement
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Year-end sale
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">@Model.Item.Name Details</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group">
                        <button type="button" class="btn  btn-sm btn-outline-secondary selected-currency-text">Reference</button>
                        <button type="button" class="btn  btn-sm btn-outline-secondary dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuReference" name="CurrencySelector">
                            <button class="dropdown-item currency-item" type="button">Action</button>
                            <button class="dropdown-item currency-item" type="button">Another Action</button>
                           
                            <button class="dropdown-item currency-item" type="button">Another Action</button>
                        </div>
                      </div>
                   

                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="card col-5">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Item.Code</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@Model.Item.Companies</h6>
                        <p class="card-text"></p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>

            </div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h3 class="h2">Transactions</h3>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="calendar"></span>
                        This week
                    </button>
                   
                </div>
            </div>


            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1,001</td>
                        <td>Lorem</td>
                        <td>ipsum</td>
                        <td>dolor</td>
                        <td>sit</td>
                    </tr>
                    <tr>
                    <td>1,002</td>
                    <td>amet</td>
                    <td>consectetur</td>
                    <td>adipiscing</td>
                    <td>elit</td>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script>
        (function () {
            feather.replace();
             const currencyListJs = @Html.Raw(Json.Serialize(ViewBag.CurrencyListJs));
             const setCurrency= (currencyCode)=>{
                  $('.selected-currency-text').text(currencyCode);
             };
             const loadCurrencySelector = (availableCurrencies) => {
                let $currenciesMenu = $('[name=CurrencySelector]');
                
                $('.currency-item') .remove();
                if (availableCurrencies === undefined || availableCurrencies === null) {
                    return;
                }
                var d = availableCurrencies;
                d.forEach(function(item) {
                    var $aLink = $('<button>').addClass('dropdown-item small currency-item');
                    $aLink.text(item.name);
                    // var diaryHRef = '/MainEntities/Transactors/RunDiary';
                    // diaryHRef += `?diaryId=${item.value}`;
                    $aLink.attr('type', 'button');
                    $aLink.data('currencyid',item.id);
                    $aLink.data('currencycode',item.code);
                    $currenciesMenu.append($aLink);
                });
                $('.currency-item').on('click',
                         function(event) {
                            let button = $(event.delegateTarget);
                            let currencyId = button.data('currencyid');
                            let currencyCode = button.data('currencycode');
                            console.log(`Currency Id=${currencyId} currency Code=${currencyCode}`);
                            setCurrency(currencyCode);
                            //let $btParent = button.parent()
                });
            };
           const loadPreviousSession = (sessionKey)=>{
                let storageItemJs = localStorage.getItem(sessionKey);
               if (storageItemJs === undefined || storageItemJs === null) {
                   $('#pageIndex').val(1);
                   $('#filtersVisible').val(true);
                   $('#rowSelectorsVisible').val(true);
                   $('#DatePeriodFilter').val('CURMONTH');
                   $('#CompanyFilter').val(0);
                   $('#currentSort').val('transactiondate:desc');
               } else {
                   var storageItem = JSON.parse(storageItemJs);
                   var filtersValue = storageItem.find(x => x.filterKey === 'filtersVisible').filterValue;
                   if (filtersValue === true) {
                       $filtersToggle.text('Hide Filters');
                   } else {
                       $filtersToggle.text('Show Filters');
                   }
                   $('#filtersVisible').val(filtersValue);
                   filtersValue = storageItem.find(x => x.filterKey === 'rowSelectorsVisible').filterValue;
                   $('#rowSelectorsVisible').val(filtersValue);
   
                   filtersValue = storageItem.find(x => x.filterKey === 'dateRangeFilter').filterValue;
                   $('#DatePeriodFilter').val(filtersValue);
                   filtersValue = storageItem.find(x => x.filterKey === 'currentSort').filterValue;
                   $('#currentSort').val(filtersValue);
                   filtersValue = storageItem.find(x => x.filterKey === 'companyFilter').filterValue;
                   $('#CompanyFilter').val(filtersValue);
                   filtersValue = storageItem.find(x => x.filterKey === 'pageSize').filterValue;
                   $('#PageSize').val(filtersValue);
                   filtersValue = storageItem.find(x => x.filterKey === 'pageIndex').filterValue;
                   $('#pageIndex').val(filtersValue);
   
                   try {
                       filtersValue = storageItem.find(x => x.filterKey === 'currentCurrency').filterValue;
                       $('#CurrencySelector').val(filtersValue);
                   } catch (e) {
   
                   }
               }
           };
           
           
           
           
            loadCurrencySelector(currencyListJs);
      
        }())
    </script>
}