@page
@model GrKouk.WebRazor.Pages.MainEntities.Transactors.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Transactor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Transactor.Id" />
            <input type="hidden" asp-for="Transactor.Timestamp"/>
            <div class="form-group">
                <label asp-for="Transactor.Code" class="control-label"></label>
                <input asp-for="Transactor.Code" class="form-control" />
                <span asp-validation-for="Transactor.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transactor.Name" class="control-label"></label>
                <input asp-for="Transactor.Name" class="form-control" />
                <span asp-validation-for="Transactor.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transactor.Address" class="control-label"></label>
                <input asp-for="Transactor.Address" class="form-control" />
                <span asp-validation-for="Transactor.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transactor.City" class="control-label"></label>
                <input asp-for="Transactor.City" class="form-control" />
                <span asp-validation-for="Transactor.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transactor.Zip" class="control-label"></label>
                <input asp-for="Transactor.Zip" class="form-control" />
                <span asp-validation-for="Transactor.Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transactor.PhoneWork" class="control-label"></label>
                <input asp-for="Transactor.PhoneWork" class="form-control" />
                <span asp-validation-for="Transactor.PhoneWork" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transactor.PhoneMobile" class="control-label"></label>
                <input asp-for="Transactor.PhoneMobile" class="form-control" />
                <span asp-validation-for="Transactor.PhoneMobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transactor.PhoneFax" class="control-label"></label>
                <input asp-for="Transactor.PhoneFax" class="form-control" />
                <span asp-validation-for="Transactor.PhoneFax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transactor.EMail" class="control-label"></label>
                <input asp-for="Transactor.EMail" class="form-control" />
                <span asp-validation-for="Transactor.EMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transactor.TransactorTypeId" class="control-label"></label>
                <select asp-for="Transactor.TransactorTypeId" class="form-control" asp-items="ViewBag.TransactorTypeId"></select>
                <span asp-validation-for="Transactor.TransactorTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
