@page
@model GrKouk.WebRazor.Pages.Transactions.BuyMaterialsDoc.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>BuyMaterialsDocument</h4>
<hr />
<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-row">
            <div class="form-group col-md-2">
                <label asp-for="ItemVm.TransDate" class="control-label"></label>
                <input asp-for="ItemVm.TransDate" class="form-control form-control-sm" />
                <span asp-validation-for="ItemVm.TransDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-7">
                <label asp-for="ItemVm.MaterialDocSeriesId" class="control-label"></label>
                <select asp-for="ItemVm.MaterialDocSeriesId" class="form-control form-control-sm" asp-items="ViewBag.MaterialDocSeriesId"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="ItemVm.TransRefCode" class="control-label"></label>
                <input asp-for="ItemVm.TransRefCode" class="form-control form-control-sm" />
                <span asp-validation-for="ItemVm.TransRefCode" class="text-danger"></span>

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label asp-for="ItemVm.SupplierId" class="control-label"></label>
                <select asp-for="ItemVm.SupplierId" class="form-control form-control-sm" asp-items="ViewBag.SupplierId"></select>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="ItemVm.CompanyId" class="control-label"></label>
                <select asp-for="ItemVm.CompanyId" class="form-control form-control-sm" asp-items="ViewBag.CompanyId"></select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="ItemVm.Etiology" class="control-label"></label>
                <textarea asp-for="ItemVm.Etiology" class="form-control form-control-sm"></textarea>
                <span asp-validation-for="ItemVm.Etiology" class="text-danger"></span>
            </div>
        </div>
        

        <div class="form-row">

            <div class="form-group">
                <label asp-for="ItemVm.AmountFpa" class="control-label"></label>
                <input asp-for="ItemVm.AmountFpa" class="form-control form-control-sm" />
                <span asp-validation-for="ItemVm.AmountFpa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemVm.AmountNet" class="control-label"></label>
                <input asp-for="ItemVm.AmountNet" class="form-control form-control-sm" />
                <span asp-validation-for="ItemVm.AmountNet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemVm.AmountDiscount" class="control-label"></label>
                <input asp-for="ItemVm.AmountDiscount" class="form-control form-control-sm" />
                <span asp-validation-for="ItemVm.AmountDiscount" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary btn-sm" />
        </div>
    </form>

</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            console.log("Inside Document ready");
           
            //$('#SupplierTransactionDto_AmountFpa').change((event) => {
            //    //console.log(event.toString());
            //    console.log("Inside Fpa Change");
            //});
            // $('#SupplierTransactionDto_AmountFpa').val("10");

            $('#ItemVm_TransDate').val(new Date().toISOString().slice(0, 10));

           

        });


    </script>
}
