@page 
@model GrKouk.WebRazor.Pages.Transactions.BuyMaterialsDoc.CreateModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Create";
}
<style>
    .ui-autocomplete-loading {
        background: white url('@Url.Content("~/images/ui-anim_basic_16x16.gif")') right center no-repeat;
    }
    .ui-autocomplete.ui-widget {
        font-family: Verdana,Arial,sans-serif;
        font-size: 12px;
    }
</style>
<h4>Νέο παραστατικό αγοράς υλικών</h4>
<hr />
<div class="container">
    <form method="post" id="transForm">
        <fieldset id="thisForm">
            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>

            <div class="form-row">
                <div class="form-group col-md-2">
                    <label asp-for="ItemVm.TransDate" class="control-label small "></label>
                    <input asp-for="ItemVm.TransDate" class="form-control form-control-sm small" autofocus/>
                    <span asp-validation-for="ItemVm.TransDate" class="text-danger small"></span>
                </div>
                <div class="form-group col-md-7">
                    <label asp-for="ItemVm.MaterialDocSeriesId" class="control-label small"></label>
                    <select asp-for="ItemVm.MaterialDocSeriesId" class="form-control form-control-sm small" asp-items="ViewBag.MaterialDocSeriesId"></select>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="ItemVm.TransRefCode" class="control-label small"></label>
                    <input asp-for="ItemVm.TransRefCode" class="form-control form-control-sm small" />
                    <span asp-validation-for="ItemVm.TransRefCode" class="text-danger small"></span>

                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label asp-for="ItemVm.SupplierId" class="control-label small"></label>
                    <select asp-for="ItemVm.SupplierId" class="form-control form-control-sm small" asp-items="ViewBag.SupplierId"></select>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="ItemVm.CompanyId" class="control-label" small></label>
                    <select asp-for="ItemVm.CompanyId" class="form-control form-control-sm small" asp-items="ViewBag.CompanyId"></select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="ItemVm.Etiology" class="control-label small"></label>
                    <textarea asp-for="ItemVm.Etiology" class="form-control form-control-sm small"></textarea>
                    <span asp-validation-for="ItemVm.Etiology" class="text-danger small"></span>
                </div>
            </div>
            <div class="form-row">
                <input type="hidden" id="MaterialId" />
                <input type="hidden" id="MaterialLastPrice" />
                <input type="hidden" id="MaterialFactor" />
                <input type="hidden" id="MaterialFpaId" />
                <input type="hidden" id="MaterialMainUnitId" />
                <input type="hidden" id="MaterialSecondaryUnitId" />
                <input type="hidden" id="MaterialsCounter" />
                <div class="form-group col-sm-3">

                    <label class="small">LookUp</label>
                    <input class="form-control form-control-sm small" id="Lookup" />
                    <span class="text-danger small"></span>
                </div>

                <div class="form-group col-sm-2">
                    <label class="small" id="q1Label">Q1</label>
                    <input class="form-control form-control-sm small " type="number" placeholder="Q 1" id="Q1" />
                    <div class="invalid-feedback">
                        Please enter a valid Q1.
                    </div>
                    @*<span class="text-danger invalid-feedback small">Invalid Q1</span>*@
                </div>
                <div class="form-group col-sm-2">
                    <label class="small" id="q2Label">Q2</label>
                    <input class="form-control form-control-sm small " type="number" placeholder="Q 2" id="Q2" />
                    <span class="text-danger small"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label class="small">Price</label>
                    <input class="form-control form-control-sm small " type="number" placeholder="Price Net" id="Price" />
                    <span class="text-danger small"></span>
                </div>
                <div class="form-group col-sm-1">
                    <label class="small">Dis% </label>
                    <input class="form-control form-control-sm small " type="number" placeholder="Dis %" id="Discount" />
                    <span class="text-danger small"></span>
                </div>
                <div class="form-group col-sm-1">
                    <label class="small">VAT% </label>
                    <input class="form-control form-control-sm small " type="number" placeholder="Vat%" id="VatPercent" />
                    <span class="text-danger small"></span>
                </div>
                <div class="form-group col-sm-1 align-self-end">
                    <button id="addToList" class="btn btn-primary btn-sm">
                        <i class="far fa-arrow-alt-circle-down"></i>
                    </button>
                </div>
            </div>
            <div class="form-row">
                <table id="detailsTable" class="table table-responsive-sm">
                    <thead class="small">
                        <tr>
                            <th class="small" style="width: 0%"> #</th>
                            <th class="small" style="width: 20%">Product</th>
                            <th class="small text-center" style="width: 5%">Q1</th>
                            <th class="small text-center" style="width: 5%">Q2</th>
                            <th class="small text-center" style="width: 10%">Unit Price</th>
                            <th class="small text-center" style="width: 5%">Disc%</th>
                            <th class="small text-center" style="width: 5%">Vat%</th>
                            <th class="small text-center" style="width: 10%">Net</th>
                            <th class="small text-center" style="width: 10%">Disc</th>
                            <th class="small text-center" style="width: 10%">Vat</th>
                            <th class="small text-center" style="width: 10%">Gross</th>
                            <th class="small" style="width: 10%"></th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="form-row">

                <div class="form-group">
                    <label  class="small">Amount VAT</label>
                    <input id="ItemVm_AmountFpa" class="form-control form-control-sm small text-right" type="text" disabled/>
                    <span asp-validation-for="ItemVm.AmountFpa" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <label  class=" small">Net Amount</label>
                    <input id="ItemVm_AmountNet" class="form-control form-control-sm small text-right" type="text" disabled/>
                    <span asp-validation-for="ItemVm.AmountNet" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <label  class=" small">Discount</label>
                    <input id="ItemVm_AmountDiscount" class="form-control form-control-sm small text-right" type="text" disabled/>
                    <span asp-validation-for="ItemVm.AmountDiscount" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <label class=" small">Sum</label>
                    <input id="DocumentSum" type="text" class="form-control form-control-sm small text-right" disabled />

                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-sm" id="saveForm" />
            </div>
        </fieldset>
    </form>

</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function() {
            console.log("Inside Document ready");
            var formatterCurrency = new Intl.NumberFormat('el-GR', {
                style: 'currency',
                currency: 'EUR',
                minimumFractionDigits:2
                

            });
            var formatterNumber = new Intl.NumberFormat('el-GR', {

                maximumFractionDigits: 3

            });
            //#region variables
            var securityToken = $('[name=__RequestVerificationToken]').val();
            var $f = $('#MaterialFactor');
            var $q1 = $('#Q1');
            var $q2 = $('#Q2');
            var $materialCounter = $('#MaterialsCounter');
            //#endregion

            //#region Initial values
            $materialCounter.val(0);
            $('#ItemVm_TransDate').val(new Date().toISOString().slice(0, 10));
            $('#ItemVm_AmountNet').attr('data-actualValue','0');
            $('#ItemVm_AmountNet').val(0);
            $('#ItemVm_AmountFpa').attr('data-actualValue','0');
            $('#ItemVm_AmountFpa').val(0);
            $('#ItemVm_AmountDiscount').attr('data-actualValue', '0');
            $('#ItemVm_AmountDiscount').val(0);
            $('#DocumentSum').attr('data-actualValue', '0');
            $('#DocumentSum').val(0);
            //#endregion
            //#region Comment Out
            //$('#Q1').blur(function (event) {
            //    console.log("Q1 validation");
            //    var $e = $('#Q1');
            //    console.log( $e[0].checkValidity());

            //});
            //$('#Price').blur(function(event) {
            //    event.target.checkValidity();
            //});
            //$('#Discount').blur(function(event) {
            //    event.target.checkValidity();
            //});
            //$('#VatPercent').blur(function(event) {
            //    event.target.checkValidity();
            //});
            //#endregion


            $('#Q1').change(() => {
                console.log("Q1 change event ->" + $q1.val());

                $q2.val($q1.val() / $f.val());

            });

            $('#Q2').change(() => {
                console.log("Q2 change event ->" + $q2.val());
                $q1.val($q2.val() * $f.val());

            });
            //$('.ui-autocomplete-input').css('fontSize', '8px');
            $('#Lookup').autocomplete({
                source: '/api/materials/search',
                minLength: 2,
               
                select: function(event, ui) {
                    $('#MaterialId').val(ui.item.value);
                    console.log(ui.item.value.toString());
                    this.value = ui.item.label;
                    //Get Material data
                    const Uri = '@Configuration.GetSection("WebApiSettings")["WebApiLocal"]';
                    const FinalUri = `${Uri}/materials/materialdata?materialId=${ui.item.value}`;

                    console.log(FinalUri);

                    fetch(FinalUri)
                        .then(function(response) {
                            if (response.ok) {
                                return response.json();
                            } else {
                                return "";
                            }

                        })
                        .then(function(myJson) {
                            if (myJson) {
                                console.log(JSON.stringify(myJson));
                                var rate = myJson.fpaRate;
                                var lastPrice = myJson.lastPrice;
                                var fpaId = myJson.fpaId;
                                //I Use main unit and Buy Unit as secondary
                                $('#q1Label').text(`Q1(${myJson.mainUnitCode})`);
                                $('#q2Label').text(`Q2(${myJson.buyUnitCode})`);
                                $('#VatPercent').val(rate);
                                $('#MaterialFpaId').val(fpaId);
                                $('#Price').val(lastPrice);
                                $('#MaterialMainUnitId').val(myJson.mainUnitId);
                                $('#MaterialSecondaryUnitId').val(myJson.buyUnitId);
                                $('#MaterialFactor').val(myJson.factorBuy);
                            }

                        })
                        .catch(error => console.log(error));
                    return false;
                }
                //#region commented out code
                //_resizeMenu: function () { this.menu.element.outerWidth(300); }
                //open: function(event, ui)
                //{
                //    //$("#autocompleteID").autocomplete("widget").css("width", "300px");
                //    $('.ui-autocomplete').css('width', '300px');
                //}
                //#endregion
            });

            $('#addToList').click((e) => {
                e.preventDefault();
                if ($.trim($("#Lookup").val()) == "" ||
                    $.trim($("#Price").val()) == "" ||
                    $.trim($("#Q1").val()) == "") return;

                var productName = $("#Lookup").val();
                var price = $("#Price").val();
                var quantity1 = $("#Q1").val();
                var quantity2 = $("#Q2").val();
                var discount = $("#Discount").val();
                var materialId = $('#MaterialId').val();
                var vatPercent = $('#VatPercent').val();
                var factor = $('#MaterialFactor').val();
                var mainUnitId = $('#MaterialMainUnitId').val();
                var secUnitId = $('#MaterialSecondaryUnitId').val();
                var materialCounter = parseInt($materialCounter.val()) + 1;
                var netAmount = parseFloat(quantity1) * parseFloat(price);
                var discountAmount = netAmount * parseFloat(discount);
                //netAmount = netAmount - discountAmount;
                var fpaAmount = (netAmount-discountAmount)  * parseFloat(vatPercent);
                var grosAmount = (netAmount-discountAmount) + fpaAmount ;
                var detailsTableBody = $("#detailsTable tbody");

                var $amountNetSum = $('#ItemVm_AmountNet');
                var $amountFpaSum = $('#ItemVm_AmountFpa');
                var $amountDiscountSum = $('#ItemVm_AmountDiscount');
                var $DocSum = $('#DocumentSum');
                var amNetSum = parseFloat($amountNetSum.attr('data-actualValue')) + parseFloat(netAmount);
                var amFpaSum = parseFloat($amountFpaSum.attr('data-actualValue')) + parseFloat(fpaAmount);
                var amDisSum = parseFloat($amountDiscountSum.attr('data-actualValue')) + parseFloat(discountAmount);
                var amSumSum = parseFloat($DocSum.attr('data-actualValue')) + parseFloat(grosAmount);

                console.log('$amountNetSum.attr(data - actualValue)=' + $amountNetSum.attr('data-actualValue'));
                $amountNetSum.val(formatterCurrency.format(amNetSum));
                $amountNetSum.attr('data-actualValue', amNetSum);
                console.log('new $amountNetSum.attr(data - actualValue)=' + $amountNetSum.attr('data-actualValue'));

                $amountFpaSum.val(formatterCurrency.format(amFpaSum));
                $amountFpaSum.attr('data-actualValue', amFpaSum);

                $amountDiscountSum.val(formatterCurrency.format(amDisSum));
                $amountDiscountSum.attr('data-actualValue', amDisSum);

                $DocSum.val(formatterCurrency.format(amSumSum));
                $DocSum.attr('data-actualValue', amSumSum);

               //#region Add Table Line
                var productItem = '<tr><td class="small">' +
                    materialCounter +
                    '</td><td class="small " data-materialId="' + materialId + '"' +
                    'data-factor="' + factor + '"' +
                    'data-mainUnitId="' + mainUnitId + '"' +
                    'data-secUnitId="' + secUnitId + '"' +
                     '>' +
                    productName +
                    '</td><td class="small text-right" ' +
                    'data-actualValue="' + quantity1 +'" >' +
                    formatterNumber.format(quantity1) +
                    '</td><td class="small text-right" ' +
                    'data-actualValue="' + quantity2 + '" >' +
                    formatterNumber.format( quantity2) +
                    '</td><td class="small text-right" ' +
                    'data-actualValue="' + price +'" >' +
                    formatterCurrency.format( price) +
                    '</td><td class="small text-right" ' +
                    'data-actualValue="' + discount + '" >' +
                    formatterNumber.format(discount) +
                    '</td><td class="small text-right" ' +
                    'data-actualValue="' + vatPercent + '" >' +
                    formatterNumber.format(vatPercent) +
                    '</td><td class="small text-right" ' +
                    'data-actualValue="' + netAmount + '" >' +
                    formatterCurrency.format(netAmount) +
                    '</td><td class="small text-right" ' +
                    'data-actualValue="' + discountAmount + '" >' +
                    formatterCurrency.format(discountAmount) +

                    '</td><td class="small text-right" ' +
                    'data-actualValue="' + fpaAmount +'" >' +
                    formatterCurrency.format(fpaAmount) +
                    '</td><td class="small text-right" ' +
                    'data-actualValue="' + grosAmount + '" >' +
                    formatterCurrency.format(grosAmount) +
                    '</td><td class="small"><a data-itemId="0" href="#" class="deleteItem"><i class="fas fa-trash"></i></a></td></tr>';
                detailsTableBody.append(productItem);
                clearItem();
                $('#Lookup').focus();
                //#endregion
            });

            //After Add A New Order In The List, Clear Clean The Form For Add More Order.
            function clearItem() {
                $("#Lookup").val('');
                $("#Price").val('');
                $("#Q1").val('');
                $("#Q2").val('');
                $("#Discount").val('');
                $("#VatPercent").val('');
            }
            $(document).on('click', 'a.deleteItem', function (e) {
                e.preventDefault();
                var $self = $(this);
                if ($(this).attr('data-itemId') == "0") {
                    var netAmount = $(this).parents('tr').find('td:eq(7)').attr('data-actualValue');
                    var discountAmount = $(this).parents('tr').find('td:eq(8)').attr('data-actualValue') ;
                    var fpaAmount = $(this).parents('tr').find('td:eq(9)').attr('data-actualValue');
                    var grosAmount = $(this).parents('tr').find('td:eq(10)').attr('data-actualValue');
                    var $amountNetSum = $('#ItemVm_AmountNet');
                    var $amountFpaSum = $('#ItemVm_AmountFpa');
                    var $amountDiscountSum = $('#ItemVm_AmountDiscount');
                    var $DocSum = $('#DocumentSum');
                    var amNetSum = parseFloat($amountNetSum.attr('data-actualValue')) - parseFloat(netAmount);
                    var amFpaSum = parseFloat($amountFpaSum.attr('data-actualValue')) - parseFloat(fpaAmount);
                    var amDisSum = parseFloat($amountDiscountSum.attr('data-actualValue')) - parseFloat(discountAmount);
                    var amSumSum = parseFloat($DocSum.attr('data-actualValue')) - parseFloat(grosAmount);

                    $amountNetSum.val(formatterCurrency.format(amNetSum));
                    $amountNetSum.attr('data-actualValue', amNetSum);

                    $amountFpaSum.val(formatterCurrency.format(amFpaSum));
                    $amountFpaSum.attr('data-actualValue', amFpaSum);

                    $amountDiscountSum.val(formatterCurrency.format(amDisSum));
                    $amountDiscountSum.attr('data-actualValue', amDisSum);

                    $DocSum.val(formatterCurrency.format(amSumSum));
                    $DocSum.attr('data-actualValue', amSumSum);
                    $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                        $(this).remove();
                    });
                }
            });
            //--------------------
            function saveData(data) {
                return $.ajax({
                    contentType: 'application/json; charset=utf-8',

                    dataType: 'json',
                    type: 'POST',
                    url: "/api/Materials/MaterialBuyDoc",
                    data: data,
                    headers: {
                        'RequestVerificationToken': securityToken
                    },
                    success: function (result) {
                        toastr.success ("Success", "Success");
                        //location.reload();
                    },
                    error: function (e) {

                        toastr.error ("Error", "Error");
                    }
                });
            }
//-----------------
            $("#saveForm").click(function (e) {

                var $form = $('#transForm');
                var f = document.getElementById("transForm");
                //#region validation that didt perform well
               // var isValidate = $form[0].checkValidity();
                //var isValidate2 = f.checkValidity();
                //console.log("Check Form validation is " + isValidate);
                //console.log("Check Form validation2 is " + isValidate2);
                //if (!isValidate) {
                //    $form.addClass('was-validated');
                //    //e.preventDefault();
                //    return;
                //}
                //#endregion
                e.preventDefault();

                $('#thisForm').prop("disabled", true);

                var linesArr = [];
                linesArr.length = 0;

                $.each($("#detailsTable tbody tr"), function () {
                    linesArr.push({
                       // materialId: $(this).find('td:eq(0)').html(),
                        materialId: $(this).find('td:eq(1)').attr('data-materialId'),
                        mainUnitId: $(this).find('td:eq(1)').attr('data-mainUnitId'),
                        secUnitId: $(this).find('td:eq(1)').attr('data-secUnitId'),
                        factor: $(this).find('td:eq(1)').attr('data-factor'),
                        q1: $(this).find('td:eq(2)').attr('data-actualValue'),
                        q2: $(this).find('td:eq(3)').attr('data-actualValue'),
                        price: $(this).find('td:eq(4)').attr('data-actualValue'),
                        discount: $(this).find('td:eq(5)').attr('data-actualValue'),
                        discountRate: $(this).find('td:eq(5)').attr('data-actualValue'),
                        fpaRate: $(this).find('td:eq(6)').attr('data-actualValue'),
                        vatPercent: $(this).find('td:eq(6)').attr('data-actualValue')

                    });
                });

                var data = JSON.stringify({
                    transDate: $("#ItemVm_TransDate").val(),
                    transRefCode: $("#ItemVm_TransRefCode").val(),
                    supplierId: $("#ItemVm_SupplierId").val(),
                    companyId: $("#ItemVm_CompanyId").val(),
                    materialDocSeriesId: $("#ItemVm_MaterialDocSeriesId").val(),
                    Etiology: $("#ItemVm_Etiology").val(),
                    amountFpa: $("#ItemVm_AmountFpa").attr('data-actualValue'),
                    amountNet: $("#ItemVm_AmountNet").attr('data-actualValue'),
                    amountDiscount: $("#ItemVm_AmountDiscount").attr('data-actualValue'),

                    buyDocLines: linesArr

                });
                console.log("Data->" + data);
                $.when(saveData(data))
                    .then(function (response) {
                        console.log(response);
                        $('#thisForm').prop("disabled", false);
                    })
                    .fail(function (err) {
                        console.log(err);
                        $('#thisForm').prop("disabled", false);
                    });
            });
            //-------------
        });


    </script>
}
