@page
@model GrKouk.WebRazor.Pages.test3Model
@{
    ViewData["Title"] = "test3";
}
@section MyCss
{
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    @*<link href="https://unpkg.com/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.css" rel="stylesheet">*@
}
<h2>test3</h2>

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="form-row">
            <input type="file" class="col-3 my-pond" name="filepond" />
        </div>




    </form>
</div>
@section Scripts
{
    <!-- include FilePond plugins -->
    <!-- include FilePond library -->
    <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>


    <!-- include FilePond jQuery adapter -->
    <script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"></script>
    <script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js"></script>
    @*<script src="https://unpkg.com/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.js"></script>*@
    <script>
        $(function () {
            // First register any plugins
            $.fn.filepond.registerPlugin(
                FilePondPluginImageExifOrientation,
                FilePondPluginImagePreview,
                FilePondPluginImageCrop,
                FilePondPluginImageResize,
                FilePondPluginImageTransform
                //FilePondPluginImageEdit
            );

            // Turn input element into a pond
            $('.my-pond').filepond({
                imagePreviewHeight: 170,
                imageCropAspectRatio: '1:1',
                imageResizeTargetWidth: 200,
                imageResizeTargetHeight: 200,
                //stylePanelLayout: 'compact circle',
                styleLoadIndicatorPosition: 'center bottom',
                styleProgressIndicatorPosition: 'right bottom',
                styleButtonRemoveItemPosition: 'left bottom',
                //styleImageEditButtonEditItemPosition:'center center',
                styleButtonProcessItemPosition: 'right bottom',
                server: {
                    process: {
                        url: 'test3',
                        method: 'POST',
                        headers: {
                            'RequestVerificationToken': $('[name=__RequestVerificationToken]').val()
                        },
                        timeout: 10000,
                        onload: null,
                        onerror: null,
                        ondata: null
                    },
                    load: 'test3',
                    fetch: null,
                    revert: null
                }
            });






        });
    </script>
}
