@page
@model GrKouk.WebRazor.Pages.TestModel
@{
    ViewData["Title"] = "Test";
}

<h2>Test</h2>

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row">
            <div class="form-group">
                <label asp-for="itemVm.Name" class="control-label"></label>
                <input asp-for="itemVm.Name" class="form-control" />
                <span asp-validation-for="itemVm.Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label asp-for="itemVm.Photo" class="control-label"></label>
                <input asp-for="itemVm.Photo" class="form-control" />
                <input type="file" name="files" class="form-control"/>
               
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>

    </form>
</div>









