@page
@model GrKouk.WebRazor.Pages.Configuration.TransactorTransDocTypes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit TransTransactorDocTypeDef</h4>
<hr />


<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="TransTransactorDocTypeDef.Id" />
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="TransTransactorDocTypeDef.Code" class="control-label"></label>
                <input asp-for="TransTransactorDocTypeDef.Code" class="form-control form-control-sm" />
                <span asp-validation-for="TransTransactorDocTypeDef.Code" class="text-danger"></span>
            </div>
            <div class="form-group col-md-7">
                <label asp-for="TransTransactorDocTypeDef.Name" class="control-label"></label>
                <input asp-for="TransTransactorDocTypeDef.Name" class="form-control form-control-sm" />
                <span asp-validation-for="TransTransactorDocTypeDef.Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2 ">

                <label asp-for="TransTransactorDocTypeDef.Active"></label>
                <input asp-for="TransTransactorDocTypeDef.Active" class="form-check form-control-sm" />

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="TransTransactorDocTypeDef.TransTransactorDefId" class="control-label"></label>
                <select asp-for="TransTransactorDocTypeDef.TransTransactorDefId" class="form-control form-control-sm" asp-items="ViewBag.TransTransactorDefId"></select>
                <span asp-validation-for="TransTransactorDocTypeDef.TransTransactorDefId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="TransTransactorDocTypeDef.CompanyId" class="control-label"></label>
                <select asp-for="TransTransactorDocTypeDef.CompanyId" class="form-control form-control-sm" asp-items="ViewBag.CompanyId"></select>
                <span asp-validation-for="TransTransactorDocTypeDef.CompanyId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary btn-sm" />
            </div>
        </div>
    </form>
</div>


<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
