@page
@model GrKouk.WebRazor.Pages.CommonEntities.FiscalPeriodsManagement.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>FiscalPeriod</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FiscalPeriod.Id" />
            <div class="form-group">
                <label asp-for="FiscalPeriod.Code" class="control-label"></label>
                <input asp-for="FiscalPeriod.Code" class="form-control" />
                <span asp-validation-for="FiscalPeriod.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FiscalPeriod.Name" class="control-label"></label>
                <input asp-for="FiscalPeriod.Name" class="form-control" />
                <span asp-validation-for="FiscalPeriod.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FiscalPeriod.StartDate" class="control-label"></label>
                <input asp-for="FiscalPeriod.StartDate" class="form-control" />
                <span asp-validation-for="FiscalPeriod.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FiscalPeriod.EndDate" class="control-label"></label>
                <input asp-for="FiscalPeriod.EndDate" class="form-control" />
                <span asp-validation-for="FiscalPeriod.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
