@page
@model GrKouk.WebRazor.Pages.Configuration.SupplierTransDefs.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>TransSupplierDef</h4>
<hr />
<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-row">
            <div class="form-group col-md-2">
                <label asp-for="TransSupplierDef.Code" class="control-label"></label>
                <input asp-for="TransSupplierDef.Code" class="form-control form-control-sm" />
                <span asp-validation-for="TransSupplierDef.Code" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="TransSupplierDef.Name" class="control-label"></label>
                <input asp-for="TransSupplierDef.Name" class="form-control form-control-sm" />
                <span asp-validation-for="TransSupplierDef.Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="TransSupplierDef.DefaultDocSeriesId"></label>
                <select asp-for="TransSupplierDef.DefaultDocSeriesId" class="form-control form-control-sm" asp-items="ViewBag.DefaultDocSeriesId"></select>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="TransSupplierDef.CompanyId" class="control-label"></label>
                <select asp-for="TransSupplierDef.CompanyId" class="form-control form-control-sm" asp-items="ViewBag.CompanyId"></select>
                <span asp-validation-for="TransSupplierDef.CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-1 ">

                <label asp-for="TransSupplierDef.Active"></label>
                <input asp-for="TransSupplierDef.Active" class="form-check form-control-sm" />

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="TransSupplierDef.FinancialAction" class="control-label"></label>
                <select asp-for="TransSupplierDef.FinancialAction" class="form-control form-control-sm" asp-items="ViewBag.FinancialActions"></select>
                <span asp-validation-for="TransSupplierDef.FinancialAction" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="TransSupplierDef.TurnOverTransId" class="control-label"></label>
                <select asp-for="TransSupplierDef.TurnOverTransId" class="form-control form-control-sm" asp-items="ViewBag.TurnOverTransId"></select>
                <span asp-validation-for="TransSupplierDef.TurnOverTransId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-sm" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            console.log("Inside Document ready");



            $('#TransSupplierDef_TurnOverTransId').val(3);

        });
    </script>
}
