@page
@model GrKouk.WebRazor.Pages.Configuration.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>BuyDocTypeDef</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BuyDocTypeDef.Id" />
            <div class="form-group">
                <label asp-for="BuyDocTypeDef.Code" class="control-label"></label>
                <input asp-for="BuyDocTypeDef.Code" class="form-control" />
                <span asp-validation-for="BuyDocTypeDef.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyDocTypeDef.Abbr" class="control-label"></label>
                <input asp-for="BuyDocTypeDef.Abbr" class="form-control" />
                <span asp-validation-for="BuyDocTypeDef.Abbr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyDocTypeDef.Name" class="control-label"></label>
                <input asp-for="BuyDocTypeDef.Name" class="form-control" />
                <span asp-validation-for="BuyDocTypeDef.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="BuyDocTypeDef.Active" /> @Html.DisplayNameFor(model => model.BuyDocTypeDef.Active)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="BuyDocTypeDef.TransSupplierDefId" class="control-label"></label>
                <select asp-for="BuyDocTypeDef.TransSupplierDefId" class="form-control" asp-items="ViewBag.TransSupplierDefId"></select>
                <span asp-validation-for="BuyDocTypeDef.TransSupplierDefId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyDocTypeDef.TransWarehouseDefId" class="control-label"></label>
                <select asp-for="BuyDocTypeDef.TransWarehouseDefId" class="form-control" asp-items="ViewBag.TransWarehouseDefId"></select>
                <span asp-validation-for="BuyDocTypeDef.TransWarehouseDefId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyDocTypeDef.CompanyId" class="control-label"></label>
                <select asp-for="BuyDocTypeDef.CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                <span asp-validation-for="BuyDocTypeDef.CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
