@page
@model GrKouk.WebRazor.Pages.Transactions.TransactorTransMng.EditModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Edit";
    var formDisabled = Model.NotUpdatable ? "disabled" : "";
}

<h4>Edit Supplier Transaction</h4>
@{
    if (Model.NotUpdatable)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Not updateable!</strong> This transaction is from other section and cannot be updated.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}


<hr />
<div class="container">

    <form method="post">
        <fieldset @formDisabled>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ItemVm.Id" />
            <input type="hidden" asp-for="ItemVm.Timestamp" />
            <input type="hidden" asp-for="ItemVm.SectionId" />
            <input type="hidden" asp-for="ItemVm.TransTransactorDocTypeId" />
            <input type="hidden" asp-for="@Model.InitialLoad" id="IsInitialLoad" />
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="ItemVm.TransDate" class="small"></label>
                    <input asp-for="ItemVm.TransDate" class="form-control form-control-sm small" autofocus />
                    <span asp-validation-for="ItemVm.TransDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ItemVm.TransTransactorDocSeriesId" class="small"></label>
                    <select asp-for="ItemVm.TransTransactorDocSeriesId" class="form-control form-control-sm small" asp-items="ViewBag.TransTransactorDocSeriesId"></select>
                </div>

                <div class="form-group col-md-3">
                    <label asp-for="ItemVm.TransRefCode" class="small"></label>
                    <input asp-for="ItemVm.TransRefCode" class="form-control form-control-sm small" />
                    <span asp-validation-for="ItemVm.TransRefCode" class="text-danger"></span>
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="ItemVm.TransactorId" class="small"></label>
                    <select asp-for="ItemVm.TransactorId" class="form-control form-control-sm small" asp-items="ViewBag.TransactorId"></select>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="ItemVm.FiscalPeriodId" class="small"></label>
                    <select asp-for="ItemVm.FiscalPeriodId" class="form-control form-control-sm small" asp-items="ViewBag.FiscalPeriodId" readonly></select>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="ItemVm.CompanyId" class="small"></label>
                    <select asp-for="ItemVm.CompanyId" class="form-control form-control-sm small" asp-items="ViewBag.CompanyId"></select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-1">
                    <label asp-for="ItemVm.FpaRate" class="small"></label>
                    <input asp-for="ItemVm.FpaRate" class="form-control form-control-sm small" />
                    <span asp-validation-for="ItemVm.FpaRate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="ItemVm.AmountNet" class="small"></label>
                    <input asp-for="ItemVm.AmountNet" class="form-control form-control-sm small" />
                    <span asp-validation-for="ItemVm.AmountNet" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="ItemVm.AmountFpa" class="small"></label>
                    <input asp-for="ItemVm.AmountFpa" class="form-control form-control-sm small" />
                    <span asp-validation-for="ItemVm.AmountFpa" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="ItemVm.AmountDiscount" class="small"></label>
                    <input asp-for="ItemVm.AmountDiscount" class="form-control form-control-sm small" />
                    <span asp-validation-for="ItemVm.AmountDiscount" class="text-danger"></span>
                </div>

                <div class="form-group col-md-2">
                    <label asp-for="ItemVm.AmountSum" class="small">Sum</label>
                    <input asp-for="ItemVm.AmountSum" class="form-control form-control-sm small" disabled />

                </div>


            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="ItemVm.Etiology" class="small"></label>
                    <textarea asp-for="ItemVm.Etiology" class="form-control form-control-sm small" placeholder="Αιτιολογία Κίνησης"> </textarea>
                    <span asp-validation-for="ItemVm.Etiology" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary btn-sm" />
                </div>
            </div>
        </fieldset>
    </form>
</div>

<div>
    <a asp-page="./Index3">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
